---
# Only the main Sass file needs Front Matter
---

@charset "utf-8";

@use "variables" with (
  $base-url: "{{ site.baseurl }}"
);
@use "mixins";
@use "extends";

@use "base";
@use "layout";
@use "site";
@use "work";
@use "not_found";

html {
  /* 强制显示垂直滚动条 */
  overflow-y: scroll;
}